.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 75rem;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}